body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

:root {
    --black: #121212;
    --white: #fafafa;
}

#root {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}